@charset "utf-8";
body { font-family: "Pretendard"; font-style: normal; font-size: 16px; overflow-x: hidden; position: relative; color: #323232; word-break: break-all;} 
body.noScroll { overflow: hidden;}

.inner {max-width: 1920px; padding: 0 10.42vw; width: 100%; margin: 0 auto; position: relative;}
/* .inner { width: 100%; margin: 0 auto; position: relative;} */

.logo-w {display: none;}

#wrap { width: 100%; overflow: hidden; position: relative;}
#header {/*position: fixed;*/ position: absolute; top: 0; left: 0; width: 100%; height: 70px; z-index: 999; box-sizing: border-box; display: block;
    transition: top 0.3s;}
/* #header.up { transform: translateY(-100%);}
#header.down { transform: translateY(0);} */
#header .logo-wrap { min-width: 200px;}
#header h1 { background: url(../../resources/images/common/sorin_logo_w.png) no-repeat center; width: 112px; height: 50px;}
#header h1.active { background: url(../../resources/images/common/sorin_logo.png)}
#header h1 span { display: none;}
#header .header-wrap { display: flex; width: 100%; justify-content: space-between; padding: 10px 0 10px 10.42%; align-items: center;}
#header .header-wrap.active {background-color: #fff;}

#header .gnb-wrap .gnb {width: 100%; display: flex; justify-content: space-between; align-items: center; gap: 70px;}
#header .gnb-wrap .gnb > li .depth1 {display: block; font-size: 18px; font-weight: 700; color: #C8C8C8; position: relative;}
#header .gnb-wrap .gnb > li .depth1:hover {color: #fff;}

#header .gnb-wrap .gnb > li ul {position: relative; width: 100%;}

#header .gnb-wrap .gnb > li {position: relative; }
#header .gnb-wrap .gnb .depth2 {position: absolute; overflow: hidden; top: 48px; left: -5px; padding: 10px; width: 190px; background-color: #fff; border-radius: 10px; opacity: 0; height: 0; transition: 0.5s; box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);}
#header .gnb-wrap .gnb .depth2 ul {display: flex; flex-direction: column; gap: 10px;}
#header .gnb-wrap .gnb .depth2 ul li {padding: 6px 15px; border-radius: 5px;}
#header .gnb-wrap .gnb .depth2 ul li a {font-size: 18px; font-weight: 600; letter-spacing: -0.03em; color: #969696; transition: all 0.2s;}
#header .gnb-wrap .gnb .depth2 ul li:hover {background-color: #F1F6FF;}
#header .gnb-wrap .gnb .depth2 ul li:hover a {color: #323232;}



@media (max-width: 1440px) {
    #header .header-wrap {padding: 10px 7vw; }
    #header .gnb-wrap .gnb {gap: 40px;}
}
@media (max-width: 1240px) {
    #header .gnb-wrap .gnb > li .depth1 {font-size: 16px;}
    #header .logo-wrap {min-width: 140px;}
    /* #header .header-wrap {padding: 10px 0;} */
}
@media (max-width: 996px) {
    #header .gnb-wrap .gnb > li .depth1 {text-align: center; vertical-align: middle; line-height: 18px;}
}
@media (max-width: 867px) {
    #header .logo-wrap {min-width: 120px;}
    #header h1 {width: 80px; background-size: contain;}
    #header .gnb-wrap .gnb > li .depth1 {font-size: 15px;}
    #header .gnb-wrap .gnb {gap: 30px;}
}
@media (max-width: 767px) {
    #header {display: none;}
    .logo-w {display: block; position: absolute; width: 112px; height: 50px; top: 10px; left: 6.67vw;}
}


/* footer */
.footer {background-color: #fff; position: relative;}
.footer .footer-inner {padding: 30px 10.42vw; max-width: 1920px; margin: 0 auto;}
.footer .footer-top {width: 100%; padding-bottom: 30px; border-bottom: 1px solid #C8C8C8;}
.footer .footer-contact {display: flex; margin-top: 30px; justify-content: space-between;}
.footer .footer-contact .contact {font-size: 14px; font-weight: 500; line-height: 185.7%; letter-spacing: -0.42px; color: #4B4B4B;}
.footer .footer-contact .family-select {padding: 12px 30px; border: 1px solid var(--Gray-500, #969696);}
.footer .footer-bottom {display: flex; justify-content: space-between; margin-top: 30px;}
.footer .footer-bottom .privacy-list {display: flex; gap: 20px; font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #4B4B4B;}
.footer .footer-bottom .copy {font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #AFAFAF;}

@media (max-width: 1440px) {
    .inner {width: 100%; padding: 0 7vw;}
    .footer .footer-inner {width: 100%; padding: 30px 7vw;}
} 
@media (max-width: 767px) {
    .inner {width: 100%; padding: 0 6.67vw;}
    .footer .footer-inner {padding: 30px 6.67vw;}
    .footer .footer-top {padding-bottom: 20px;}
    .footer .footer-top > img {width: 80px; height: 36px;}
    .footer .footer-contact .family-site {position: absolute; top: 33px; right: 6.67vw;}
    .footer .footer-contact .family-select {padding: 6px 18px; font-size: 10px;}
    .footer .footer-contact .family-select svg {margin-left: 3px;}
    .footer .footer-bottom .privacy-list {position: absolute; font-size: 11px; top: 110px;}
    .footer .footer-contact {margin-top: 50px;}
    .footer .footer-contact .contact {font-size: 11px; line-height: 22px;}
    .footer .footer-bottom .copy {font-size: 10px;}
} 

/* footer_v2 */
.footer-v2 {background-color: #fff; position: relative;}
.footer-v2 .footer-inner {padding: 30px 10.42vw; max-width: 1920px; margin: 0 auto;}
.footer-v2 .footer-v2-top {width: 100%; display: flex; justify-content: space-between;}
.footer-v2 .privacy-list {display: flex; gap: 20px; font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #4B4B4B;}
.footer-v2 .family-site {display: flex; gap: 20px; font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #4B4B4B;}
.footer-v2 .footer-contact .contact {display: flex; flex-wrap: wrap; column-gap: 22px; row-gap: 0; font-size: 14px; font-weight: 500; line-height: 185.7%; letter-spacing: -0.42px; color: #969696;}
.footer-v2 .footer-contact .contact p > span {color: #4B4B4B; margin-right: 10px;}
.footer-v2 .footer-contact .contact p:nth-child(2) > span:nth-child(2) {margin-left: 10px;}
.footer-v2 .family-select {padding: 12px 30px; border: 1px solid var(--Gray-500, #969696);}
.footer-v2 .footer-v2-bottom {margin-top: 50px; display: flex; gap: 73px;}
.footer-v2 .footer-v2-bottom > img {object-fit: contain;}
.footer-v2 .footer-v2-bottom .contact p > br {display: none;}
.footer-v2 .footer-v2-bottom .copy {font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #AFAFAF;}

@media (max-width: 1440px) {
    .inner {width: 100%; padding: 0 7vw;}
    .footer-v2 .footer-inner {width: 100%; padding: 30px 7vw;}
} 
@media (max-width: 767px) {
    .inner {width: 100%; padding: 0 6.67vw;}
    .footer-v2 .footer-inner {padding: 30px 6.67vw;}
    /* .footer-v2 .footer-v2-top {padding-bottom: 20px;} */
    .footer-v2 .footer-v2-top > img {width: 80px; height: 36px;}
    .footer-v2 .family-site {position: absolute; top: 38px; right: 6.67vw;}
    .footer-v2 .family-select {padding: 6px 18px; font-size: 10px;}
    .footer-v2 .family-select svg {margin-left: 3px;}
    .footer-v2 .privacy-list {position: absolute; font-size: 11px; top: 0;}
    .footer-v2 .footer-contact {margin-top: 0;}
    .footer-v2 .footer-contact .contact {flex-direction: column; font-size: 11px; line-height: 22px;}
    .footer-v2 .footer-v2-bottom {flex-direction: column; gap: 10px; margin-top: 0;}
    .footer-v2 .footer-v2-bottom > img {width: 80px; height: 36px;}
    .footer-v2 .footer-v2-bottom .copy {font-size: 10px; margin-top: 20px;}
}

/* footer_v3 */

.footer-v3 {background-color: #fff; position: relative; border-top: 1px solid #E1E1E1;}
.footer-v3 .footer-inner {padding: 30px 10.42vw; max-width: 1920px; margin: 0 auto;}
.footer-v3 .footer-v3-top {width: 100%; display: flex; justify-content: space-between;}
.footer-v3 .privacy-list {display: flex; gap: 20px; font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #4B4B4B;}
.footer-v3 .family-site {display: flex; gap: 20px; font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #4B4B4B;}
.footer-v3 .footer-contact .contact {display: flex; flex-wrap: wrap; column-gap: 22px; row-gap: 0; font-size: 14px; font-weight: 500; line-height: 185.7%; letter-spacing: -0.42px; color: #969696;}
.footer-v3 .footer-contact .contact p > span {color: #4B4B4B; margin-right: 10px;}
.footer-v3 .footer-contact .contact p:nth-child(2) > span:nth-child(2) {margin-left: 10px;}
.footer-v3 .family-select {padding: 12px 30px; border: 1px solid var(--Gray-500, #969696);}
.footer-v3 .footer-v3-bottom {margin-top: 50px; display: flex; gap: 73px;}
.footer-v3 .footer-v3-bottom > img {object-fit: contain;}
.footer-v3 .footer-v3-bottom .contact p > br {display: none;}
.footer-v3 .footer-v3-bottom .copy {font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #AFAFAF;}

@media (max-width: 1440px) {
    .inner {width: 100%; padding: 0 7vw;}
    .footer-v3 .footer-inner {width: 100%; padding: 30px 7vw;}
} 
@media (max-width: 767px) {
    .inner {width: 100%; padding: 0 6.67vw;}
    .footer-v3 .footer-inner {padding: 30px 6.67vw;}
    /* .footer-v3 .footer-v3-top {padding-bottom: 20px;} */
    .footer-v3 .footer-v3-top > img {width: 80px; height: 36px;}
    .footer-v3 .family-site {position: absolute; top: 38px; right: 6.67vw;}
    .footer-v3 .family-select {padding: 6px 18px; font-size: 10px;}
    .footer-v3 .family-select svg {margin-left: 3px;}
    .footer-v3 .privacy-list {position: absolute; font-size: 11px; top: 0;}
    .footer-v3 .footer-contact {margin-top: 0;}
    .footer-v3 .footer-contact .contact {flex-direction: column; font-size: 11px; line-height: 22px;}
    .footer-v3 .footer-v3-bottom {flex-direction: column; gap: 10px; margin-top: 0;}
    .footer-v3 .footer-v3-bottom > img {width: 80px; height: 36px;}
    .footer-v3 .footer-v3-bottom .copy {font-size: 10px; margin-top: 20px;}
}


/* footer_main */
.footer-main {background-color: #fff; position: relative;}
.footer-main .footer-inner {padding: 30px 10.42vw; max-width: 1920px; margin: 0 auto;}
.footer-main .footer-main-top {display: flex; justify-content: space-between;}
.footer-main .family-select {padding: 12px 30px; border: 1px solid var(--Gray-500, #969696);} 
.footer-main .footer-contact-link {margin-top: 50px; display: flex; justify-content: space-between; align-items: flex-start;}
.footer-main .contact-wrap {display: flex; gap: 60px;}
.footer-main .contact {font-size: 13px; letter-spacing: -0.03em; color: #4B4B4B;}
.footer-main .contact .location {font-weight: 700;}
.footer-main .contact .location-detail {font-weight: 500;}
.footer-main .footer-contact-link .link-wrap {display: flex; flex-direction: column; gap: 10px; padding-right: 44px;}
.footer-main .footer-contact-link .link a {display: flex; gap: 5px; cursor: pointer;}
.footer-main .footer-contact-link .link-title {font-size: 16px;}
.footer-main .footer-contact-link .link img {width: 16px; object-fit: contain;}
.footer-main .footer-bottom {margin-top: 60px; display: flex; justify-content: space-between;}
.footer-main .footer-bottom .privacy-list {display: flex; gap: 20px; font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #4B4B4B;}
.footer-main .footer-bottom .copy {font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #AFAFAF;}

@media (max-width: 1440px) {
    .inner {width: 100%; padding: 0 7vw;}
    .footer-main .footer-inner {width: 100%; padding: 30px 7vw;}
} 
@media (max-width: 1024px) {
    .footer-main .contact-wrap {flex-direction: column; gap: 16px;}
    .footer-main .contact .location-detail {display: flex; gap: 10px;}
    .footer-main .footer-contact-link {margin-top: 30px;}
    .footer-main .footer-bottom .privacy-list {font-size: 11px;}
    .footer-main .footer-bottom .copy {font-size: 10px;}
}
@media (max-width: 767px) {
    .inner {width: 100%; padding: 0 6.67vw;}
    .footer-main .footer-inner {padding: 30px 6.67vw;}
    .footer-main .contact {font-size: 12px;}
    .footer-main .footer-contact-link {flex-direction: column;}
    .footer-main .footer-contact-link .link-wrap {margin-top: 40px; flex-direction: row; gap: 15px;}
    .footer-main .footer-main-top > img {width: 80px; height: 36px;}
    .footer-main .family-site {position: absolute; top: 38px; right: 6.67vw;}
    .footer-main .family-select {padding: 6px 18px; font-size: 10px;}
    .footer-main .footer-contact-link .link-title {font-size: 13px;}
    .footer-main .footer-contact-link .link img {width: 12px;}
    .footer-main .footer-bottom {margin-top: 20px; flex-direction: column; gap: 20px;}
}