@charset "utf-8";
body { font-family: "Pretendard"; font-style: normal; font-size: 16px; overflow-x: hidden; position: relative; color: #323232; word-break: break-all;} 
body.noScroll { overflow: hidden;}

#wrap { width: 100%; overflow: hidden; position: relative;}
#header { position: absolute; top: 0; left: 0; width: 100%; height: 70px; z-index: 999; box-sizing: border-box;}
/* #header.up { transform: translateY(-100%);}
#header.down { transform: translateY(0);} */
#header .logo-wrap { min-width: 200px;}
#header h1 { background: url(../../resources/images/common/sorin_logo_w.png) no-repeat center; width: 112px; height: 50px;}
#header h1 span { display: none;}
#header .header-wrap { display: flex; width: 100%; justify-content: space-between; padding: 10px 10.42%; align-items: center;}
#header .gnb-wrap .gnb {display: flex; justify-content: space-between; gap: 70px;}
#header .gnb-wrap .gnb > li .depth1 { display: block; font-size: 18px; font-weight: 700; color: #C8C8C8; position: relative;}


.inner {max-width: 1920px; padding: 0 10.42vw; width: 100%; margin: 0 auto; position: relative;}
/* .inner { width: 100%; margin: 0 auto; position: relative;} */

.footer {background-color: #fff; position: relative;}
.footer .footer-inner {padding: 30px 10.42vw; max-width: 1920px; margin: 0 auto;}
.footer .footer-top {width: 100%; padding-bottom: 30px; border-bottom: 1px solid #C8C8C8;}
.footer .footer-contact {display: flex; margin-top: 30px; justify-content: space-between;}
.footer .footer-contact .contact {font-size: 14px; font-weight: 500; line-height: 185.7%; letter-spacing: -0.42px; color: #4B4B4B;}
.footer .footer-contact .family-select {padding: 12px 30px; border: 1px solid var(--Gray-500, #969696);}
.footer .footer-bottom {display: flex; justify-content: space-between; margin-top: 30px;}
.footer .footer-bottom .privacy-list {display: flex; gap: 20px; font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #4B4B4B;}
.footer .footer-bottom .copy {font-size: 13px; font-weight: 500; letter-spacing: -0.39px; color: #AFAFAF;}

 

@media (max-width: 1440px) {
    .inner {width: 100%; padding: 0 7vw;}
    .footer .footer-inner {width: 100%; padding: 30px 7vw;}
} 
@media (max-width: 767px) {
    .inner {width: 100%; padding: 0 6.67vw;}
    .footer .footer-inner {padding: 30px 6.67vw;}
    .footer .footer-top {padding-bottom: 20px;}
    .footer .footer-top > img {width: 80px; height: 36px;}
    .footer .footer-contact .family-site {position: absolute; top: 33px; right: 6.67vw;}
    .footer .footer-contact .family-select {padding: 6px 18px; font-size: 10px;}
    .footer .footer-contact .family-select svg {margin-left: 3px;}
    .footer .footer-bottom .privacy-list {position: absolute; font-size: 11px; top: 110px;}
    .footer .footer-contact {margin-top: 50px;}
    .footer .footer-contact .contact {font-size: 11px; line-height: 22px;}
    .footer .footer-bottom .copy {font-size: 10px;}

} 