@charset "utf-8";

.main .only-mo {display: none;}
.main .maintitle {font-size: 48px; font-weight: 800; line-height: 68px; letter-spacing: -0.03em; color: var(--color-black); }
.main .maintitle-w {font-size: 48px; font-weight: 800; line-height: 68px; letter-spacing: -0.03em; color: #fff; }

.main main {width: 99.5vw; height: 97vh; padding: 30px; overflow: hidden;}
.main .main_img {width: 100%; height: 100%; background: url(../images/main/main_visual_01.png)no-repeat; background-size: cover;}