@charset "utf-8";

:root {
    /* color */
    --color-black: #323232;
}

.content .splitani {overflow: hidden;}
.content .splitani > span {display: inline-block;}

/* servicenow */
.servicenow .only-mo {display: none;}
.servicenow .maintitle {font-size: 48px; font-weight: 800; line-height: 68px; letter-spacing: -0.03em; color: var(--color-black); }
.servicenow .maintitle-w {font-size: 48px; font-weight: 800; line-height: 68px; letter-spacing: -0.03em; color: #fff; }
.servicenow .maintitle-color {color: #00BC26;}

.servicenow .section01 .logo-w {position: absolute; width: 112px; height: 50px; top: 10px; left: 10.42vw;}
.servicenow .section01 {display: flex; flex-direction: column; justify-content: flex-end; width: 100%; height: 100vh; background:url(../../resources/images/sub/servicenow_01_visual.png)  no-repeat center; background-size: cover;}
.servicenow .section01 .servicenow-text {padding: 150px 0;}
.servicenow .section01 .servicenow-title {font-family: 'Paybooc'; font-size: 80px; color: #00BC26; margin-bottom: 10px;}
.servicenow .section01 .servicenow-desc {font-weight: 400; font-size: 24px; line-height: auto; color: #fff;}

.servicenow .section02 {position: relative; padding: 180px 0 187px 10.42vw; background: url(../../resources/images/sub/servicenow_02_bg_logo.png)no-repeat 0 75%; background-color: #fff; z-index: 1;}
.servicenow .section02 .content-wrap {display: flex; gap: 132px;}
.servicenow .section02 .content-wrap .title-wrap {flex-shrink: 0;}
.servicenow .section02 .content-wrap .title-wrap .maintitle {width: 510px;}
.servicenow .section02 .navigation-group {position: relative; display: flex; gap: 30px; margin-top: 50px;}
.servicenow .section02 .swiper-group {margin-top: 48px; position: relative; overflow: hidden; padding: 20px 0;}
/* .servicenow .section02 .swiper-group .swiper-wrapper { display: flex; padding: 60px 0 60px 60px;} */
.servicenow .section02 .content-wrap .card-slide {height: 516px; max-width: 562px; padding: 80px 60px; flex-direction: column; align-items: flex-start; gap: 40px; flex-shrink: 0; border-radius: 20px; background: #FFF; box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.08);}

.servicenow .section02 .title-navigation-wrap {display: flex; flex-direction: column;}
.servicenow .section02 .slidetext01 {font-weight: 700; font-size: 20px; letter-spacing: -0.6px; margin: 40px 0 20px;}
.servicenow .section02 .slidetext02 {font-weight: 500; font-size: 16px; word-break: break-all;}
.servicenow .section02 .swiper-button-next,
.servicenow .section02 .swiper-button-prev {cursor: pointer;}
/* .servicenow .section02 .swiper-button-next {width: 24px; height: 24px;}
.servicenow .section02 .swiper-button-prev {width: 24px; height: 24px;} */
.servicenow .section02 .swiper-button-next {position: absolute; top: 0; left: 60px;}
.servicenow .section02 .swiper-button-prev {position: absolute; top: 0; left: 0;}

.servicenow .section02 .swiper-pagination {position: absolute; width: 200px; height: 2px; left: 112px;}
.servicenow .section02 .swiper-button-prev::after,
.servicenow .section02 .swiper-button-next::after {font-size:1.5rem;}
.servicenow .section02 {--swiper-theme-color: #00BC26;}

/* .servicenow .section02 .swiper-group .swiper-slide {transform: scale(1) !important; filter: blur(1px) grayscale(0.5);}
.swiper-group .swiper-slide-active {filter: blur(0px) !important;transform: scale(1) !important;} */

.servicenow .section03 {position: relative; width: 100%; background-color: #EFF9F1; padding: 120px 0 240px; z-index: 1;}
.servicenow .section03 .main-img {display: block; margin: 104px auto 100px;}
.servicenow .section03 .subtext {margin-bottom: 100px; text-align: center; font-size: 30px; font-style: normal; font-weight: 800; line-height: 42px; letter-spacing: -0.03em;}
.servicenow .section03 .subtext-color {color: #00BC26;}
.servicenow .section03 .item-wrap {display: flex; justify-content: space-between; gap: 60px; width: 100%; padding: 80px 70px; border-radius: 20px; background: #002E45; color: #E1E1E1;}
.servicenow .section03 .item-wrap img {width: 100px; height: 100px;}
.servicenow .section03 .item-wrap > li {flex: 1; min-width: 200px;}
.servicenow .section03 .item-title {margin-top: 60px; font-size: 24px; font-weight: 700; line-height: 34px; letter-spacing: -0.72px;}
.servicenow .section03 .item-desc {margin-top: 15px; font-size: 16px; font-weight: 500; line-height: 150%; letter-spacing: -0.48px; word-break: break-all;}

.servicenow .section04 {width: 100%; background: linear-gradient(180deg, #002E45 43.96%, #134453 93.52%); padding: 120px 0 134px;}
.servicenow .section04 .maintitle-wrap {display: flex; flex-direction: column; height: 333px; background: url(../../resources/images/sub/servicenow_04_bg_img.png) no-repeat center;}
.servicenow .section04 .maintitle-w { text-align: center; padding-top: 94px;}
.servicenow .section04 .btn-demo { margin: 0 auto; margin-top: 40px; padding: 15px 50px; width: 158px; height: 48px; border-radius: 999px; background-color: #00DD2C; font-size: 16px; font-weight: 800; color: #000; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.servicenow .section04 .btn-demo:hover{background-color: #28fd53; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; transform: translateY(-3px);}

.servicenow .section04 .content-wrap {display: flex; margin-top: 85px; gap: 38px;}
.servicenow .section04 .content-box {padding: 80px 40px; border-radius: 20px; margin-top: 85px;}
.servicenow .section04 .content-box-01 {background: linear-gradient(180deg, #002E45 0%, #04548E 100%);}
.servicenow .section04 .content-box-02 {background: linear-gradient(180deg, #002E45 0%, #1B7794 100%); transform: translateY(50px);}
.servicenow .section04 .content-box-03 {background: linear-gradient(180deg, #002E45 0%, #0D5E63 100%);}
.servicenow .section04 .content-box img {display: block; margin: 0 auto; width: 140px; height: 140px;}
.servicenow .section04 .content-title {font-weight: 700; font-size: 24px; line-height: 34px; letter-spacing: -3%; color: #fff; margin-top: 30px;} 
.servicenow .section04 .content-desc {font-weight: 400; font-size: 18px; line-height: 26px; letter-spacing: -3%; color: #E1E1E1; margin-top: 30px; word-break: break-all;}
.servicenow .section04 .count-value-wrap {display: flex; justify-content: space-between; margin-top: 210px;}
.servicenow .section04 .count-value {display: flex; flex: 1; padding: 50px; flex-direction: column; justify-content: space-between; align-items: center;}
.servicenow .section04 .count-value-02 {border-left: 2px solid #1E4F67; border-right: 2px solid #1E4F67;}
.servicenow .section04 .count-value-title {font-size: 24px; font-weight: 700; text-align: center; color: #E1E1E1;}
.servicenow .section04 .count-wrap {display: flex; gap: 10px; align-items: flex-end; margin-top: 20px;}
.servicenow .section04 .count-wrap-03 {align-items: center;}
.servicenow .section04 .count-wrap .count01,
.servicenow .section04 .count-wrap .count02,
.servicenow .section04 .count-wrap .count03 {font-size: 78px; font-weight: 800; letter-spacing: -1.2px; color: #00DD2C; line-height: 78px;}
.servicenow .section04 .count-wrap .unit {font-size: 40px; font-weight: 800; color: #00DD2C;}

.servicenow .section05 {padding: 167px 17.08vw 240px;}
.servicenow .section05 .maintitle {text-align: center;}
.servicenow .section05 .main-desc {text-align: center; margin-top: 40px; font-size: 24px; font-weight: 500; line-height: 150%; letter-spacing: -0.72px;}
.servicenow .section05 .content-wrap {margin-top: 100px;}
.servicenow .section05 .content-wrap .content-02 {margin-top: 80px; gap: 135px;}
.servicenow .section05 .content-img-wrap {display: flex; justify-content: space-between; align-items: center; gap: 75px;}
.servicenow .section05 .content-title-wrap {display: flex; align-items: flex-end;}
.servicenow .section05 .content-02 .content-title-wrap {margin-left: -17px;}
.servicenow .section05 .content-title-wrap .content-num {font-size: 100px; font-weight: 800; line-height: 80px; letter-spacing: -3px; color: #DBF8E9;}
.servicenow .section05 .content-title-wrap .content-title {font-size: 40px; font-weight: 800; line-height: 50px; letter-spacing: -1.2px; margin-left: -42px;}
.servicenow .section05 .content-desc-wrap {margin-top: 40px; display: flex; justify-content: space-between; gap: 10px;}
.servicenow .section05 .content-desc-wrap svg {width: 70px;}
.servicenow .section05 .content-desc-wrap .content-desc {font-size: 20px; font-weight: 500; line-height: 150%; letter-spacing: -0.6px; word-break: break-all;}

.servicenow .section06 {background:url(../../resources/images/sub/servicenow_06_bg.png)no-repeat center top / cover; padding: 140px 0 70px;}
.servicenow .section06 .contact-form-wrap {display: flex; justify-content: space-between;}
.servicenow .section06 .contact-title {font-size: 48px; font-weight: 800; letter-spacing: -1.44px; color: #fff;}
.servicenow .section06 .contact-desc {margin-top: 35px; padding-right: 30px; font-size: 24px; font-weight: 500; line-height: 141.667%; letter-spacing: -0.003em; color: #fff;}
.servicenow .section06 .form-wrap {width: 604px; padding: 40px 50px; margin-right: 8.55%; border-radius: 30px; background: rgba(255, 255, 255, 0.15);}
.servicenow .section06 .form-wrap .form-group-wrap {display: flex; justify-content: space-between; gap: 24px;}
.servicenow .section06 .form-wrap .form-group {flex: 1; margin-top: 30px;}
.servicenow .section06 .form-wrap .form-name {margin-top: 0;}
.servicenow .section06 .form-wrap .form-group .form-label label {font-size: 16px; font-weight: 700; color: #fff;}
.servicenow .section06 .form-wrap .form-group input {width: 100%; height: 40px; border-bottom: 1px solid #C8C8C8; border-radius: 0; font-size: 16px; color: #fff;}
.servicenow .section06 .form-wrap .form-group .form-detail {height: 120px;}
.servicenow .section06 .form-wrap .form-group textarea {width: 100%; margin-top: 10px; background-color: #ffffff00; border: none; font-size: 16px; color: #fff;}
.servicenow .section06 .form-wrap .form-group textarea {border-bottom: 1px solid #C8C8C8; border-radius: 0;}
.servicenow .section06 .form-wrap .privacy-wrap {margin-top: 30px;}
.servicenow .section06 .form-wrap .icheckbox {width: 20px; height: 20px; border-radius: 5px; border: 1px solid #DFE1E6; background-color: none;}
.servicenow .section06 .form-wrap .chk-box {position: relative; display: block; font-size: 16px; font-weight: 500; color: #fff; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.servicenow .section06 .form-wrap .on {display: inline-block; vertical-align: middle; margin-right: 10px; width: 20px; height: 20px; border-radius: 5px; border: 1px solid #DFE1E6;}
.servicenow .section06 .form-wrap .chk-box input[type="checkbox"] {display: none;}


.servicenow .section06 .form-wrap .chk-box input[type="checkbox"]:checked + .on { background: #fff; }
.servicenow .section06 .form-wrap .on:after { content: ""; position: absolute; display: none; }
.servicenow .section06 .form-wrap .chk-box input[type="checkbox"]:checked + .on:after { display: block; }
.servicenow .section06 .form-wrap .on:after { width: 6px; height: 10px; border: solid #000; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 6px; top: 5px; }

.servicenow .section06 .form-wrap .btn-toggle {font-size: 16px; font-weight: 500; color: #fff;}
.servicenow .section06 .form-wrap .more-btn.active svg {transform: rotate(180deg);}
.servicenow .section06 .form-wrap .submit-btn {margin-top: 30px; padding: 15px 50px; border-radius: 999px; border: 1px solid #fff; font-size: 18px; font-weight: 700; color: #fff; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.servicenow .section06 .form-wrap .submit-btn:hover {background-color: #ffffff52;}
.servicenow .section06 .view-fulltext {width: 100%; margin-top: 15px; padding: 15px; font-size: 14px; font-weight: 400; line-height: 20px; border: 1px solid #fff; color: #fff;}
.servicenow .section06 .view-fulltext p {word-break: break-all;}

@media (min-width: 1920px) {
    .servicenow .section02 .content-wrap .card-slide {max-width: none;}
}
@media (max-width: 1660px) {
    .servicenow .section02 .content-wrap .card-slide {height: auto;}
    .servicenow .section02 .slidetext01 > br {display: none;}
}
@media (max-width: 1507px) {
    .servicenow .section04 .count-wrap {align-items: flex-end;}
}
@media (max-width: 1440px) {
    .servicenow .section01 .logo-w {left: 7vw;}
    .servicenow .section01 {height: 100vh; background-position: 70% 0;}
    .servicenow .section02 {padding-left: 7vw;}
    .servicenow .section05 {padding: 167px 10vw 240px;}
    .servicenow .section05 .content-img-wrap img {width: 40%;}
}

@media (max-width: 1373px) {
    /* .servicenow .section02 {padding-right: 100px;} */
    .servicenow .section02 .content-wrap {flex-direction: column; gap: 100px;}
    .servicenow .section02 .content-wrap .card-slide {max-width: 700px;}
    

}
@media (max-width: 1300px) {
    .servicenow .section03 .only-mo {display: block;}
    .servicenow .section03 .subtext {font-size: 28px;}
    .servicenow .section03 .item-wrap {flex-wrap: wrap; padding: 60px 50px; gap: 70px;}
    .servicenow .section03 .item-wrap > li {min-width: 370px;}
    .servicenow .section04 .content-box {padding: 50px 30px;}
    .servicenow .section06 .form-wrap {margin-right: 0;}
}
@media (max-width: 1200px) {
    .servicenow .section02 .content-wrap {gap: 70px;}
    .servicenow .section04 .content-wrap {flex-direction: column;}
    .servicenow .section04 .only-pc {display: none;}
    .servicenow .section04 .count-value {padding: 50px 20px;}
    .servicenow .section05 .content-img-wrap {flex-direction: column; gap: 30px;}
    .servicenow .section05 .content-wrap {margin-top: 180px;}
    .servicenow .section05 .content-wrap .content-02 {flex-direction: column-reverse; gap: 30px; margin-top: 150px;}
}
@media (max-width: 1100px) {
    .servicenow .section03 .item-wrap > li {min-width: 280px;}
    .servicenow .section05 .only-mo {display: block;}
    .servicenow .section05 .main-desc {font-size: 22px;}
}
@media (max-width: 1024px) {
    .servicenow .section04 .count-wrap .count {font-size: 70px;}
}
@media (max-width: 767px) {
    .servicenow .section01 .logo-w {width: 80px; height: 36px; left: 6.67vw;}
    .servicenow .maintitle {font-size: 30px; line-height: 42px;}
    .servicenow .maintitle-w {font-size: 30px; line-height: 42px;}
    .servicenow .section01 .servicenow-title {font-size: 42px;}
    .servicenow .section01 .servicenow-desc {font-size: 16px;}

    .servicenow .section02 {padding: 66px 0 66px 6.67vw;}
    .servicenow .section02 .content-wrap {gap: 50px;}
    .servicenow .section02 .content-wrap .card-slide {padding: 40px 30px;}
    .servicenow .section02 .content-wrap .card-slide img {width: 80px; height: 80px;}
    .servicenow .section02 .slidetext01 {font-size: 16px; margin: 30px 0 20px;}
    .servicenow .section02 .slidetext02 {font-size: 14px;}
    .servicenow .section02 .slidetext01 > br {display: block;}


    .servicenow .section03 {padding: 70px 0 54px;}
    .servicenow .section03 .main-img {margin: 40px 0; padding: 0;}
    .servicenow .section03 .subtext {font-size: 18px; line-height: 30px; margin-bottom: 32px;}
    .servicenow .section03 .item-wrap {padding: 30px 6.37vw 60px; gap: 60px;}
    .servicenow .section03 .item-wrap img {width: 60px; height: 60px;}
    .servicenow .section03 .item-title {margin-top: 20px; font-size: 20px;}
    .servicenow .section03 .item-desc {font-size: 14px; line-height: 24px;}
    .servicenow .section04 {padding: 70px 0;}
    .servicenow .section04 .maintitle-wrap {background-size: contain;}
    .servicenow .section04 .content-box img {width: 80px; height: 80px;}
    .servicenow .section04 .content-wrap {margin-top: 60px; gap: 50px;}
    .servicenow .section04 .content-box {margin-top: 0; padding: 40px 20px;}
    .servicenow .section04 .content-box-02 {transform: translateY(0);}
    .servicenow .section04 .content-title {font-size: 20px;}
    .servicenow .section04 .content-desc f{font-size: 16px;}
    .servicenow .section04 .count-value-wrap {margin-top: 60px; flex-direction: column;}
    .servicenow .section04 .count-value-02 {border: none;}
    .servicenow .section04 .count-value {padding: 35px 20px;}
    .servicenow .section04 .count-value img {width: 80px; height: 80px;}
    .servicenow .section04 .count-value-title {font-size: 20px;}
    .servicenow .section04 .count-wrap .count01, 
    .servicenow .section04 .count-wrap .count02, 
    .servicenow .section04 .count-wrap .count03 {font-size: 40px; line-height: 40px;}
    .servicenow .section04 .count-wrap .unit {font-size: 20px;}
    .servicenow .section04 .count-wrap .unit-03 {transform: translateY(-5px);}
    .servicenow .section04 .count-wrap {margin-top: 10px; gap: 5px;}
    .servicenow .section05 {padding: 70px 6.67vw 100px;}
    .servicenow .section05 .maintitle {text-align: left;}
    .servicenow .section05 .main-desc {font-size: 18px; text-align: left;}
    .servicenow .section05 .main-desc > br {display: none;}
    .servicenow .section05 .content-wrap {margin-top: 40px;}
    .servicenow .section05 .content-title-wrap .content-num {font-size: 60px; line-height: 60px;}
    .servicenow .section05 .content-title-wrap .content-title {font-size: 24px; line-height: 24px; margin-left: -60px;}
    .servicenow .section05 .content-desc-wrap {margin-top: 20px;}
    .servicenow .section05 .content-desc-wrap .content-desc {font-size: 16px; line-height: 26px;}
    .servicenow .section05 .content-wrap .content-02 {margin-top: 100px;}
    .servicenow .section06 {padding: 58px 0 40px;}
    .servicenow .section06 .contact-title {font-size: 30px;}
    .servicenow .section06 .contact-desc {font-size: 20px; margin-top: 30px;}
    .servicenow .section06 .contact-form-wrap {flex-direction: column;}
    .servicenow .section06 .form-wrap {width: 100%; margin-top: 64px; padding: 25px 20px;}
    .servicenow .section06 .form-wrap .chk-box {font-size: 14px;}
    .servicenow .section06 .form-wrap .btn-toggle {font-size: 14px;}
    .servicenow .section06 .form-wrap .submit-btn {font-size: 16px;}
}
@media (max-width: 600px) {
    .servicenow .section06 .form-wrap .form-group-wrap {flex-direction: column;}
    .servicenow .section06 .form-wrap .privacy-wrap {gap: 10px;}
}
@media (max-width: 550px) {
    .servicenow .section02 {padding-right: 6.67vw; padding-bottom: 100px; background: none;}
    .servicenow .section02 .content-wrap {gap: 0;}
    .servicenow .section02 .swiper-group {overflow: visible; padding: 0;}
    .servicenow .section02 .swiper-group .swiper-slide {width: 100%; margin: 0 auto;}
    .servicenow .section02 .swiper-button-next {left: unset; right: 0;}
    .servicenow .section02 .swiper-button-prev {left: unset; right: 60px;}
    .servicenow .section02 .swiper-pagination {width: 100%; top: 430px; left: 0;}

    .servicenow .section05 .content-img-wrap img {width: 80%;}
}
@media (max-width: 462px) {
    .servicenow .section02 .swiper-pagination {top: 450px;}
}
@media (max-width: 465px) {
    .servicenow .section03 .subtext > br:last-child {display: none;}
}
@media (max-width: 450px) {
    .servicenow .section01 .servicenow-desc > br {display: none;}
}
@media (max-width: 360px) {
    .servicenow .section02 .swiper-pagination {top: 480px;}
}
@media (max-width: 350px) {
    .servicenow .section02 .swiper-pagination {top: 500px;}
}

/* consulting */
.consulting .main-heading-1 {text-align: center; font-weight: 800; font-size: 48px; line-height: 68px; letter-spacing: -0.02em; color: var(--color-black);}
.consulting .main-heading-sub {margin-top: 0; text-align: center; font-weight: 400; font-size: 20px; line-height: 32px; letter-spacing: -0.02em; color: var(--color-black);}
.consulting .section-title {margin-bottom: 80px; font-size: 48px; font-weight: 800; letter-spacing: -0.03em;}
.consulting .section01 {display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100vh; background:url(../../resources/images/sub/consulting_01_visual.png)  no-repeat center bottom; background-size: cover;}
.consulting .section01 .main-text {padding: 150px 0;}
.consulting .section01 .main-title {font-family: 'Paybooc'; font-size: 80px; color: #fff; margin-bottom: 10px;}
.consulting .section01 .main-desc {font-weight: 400; font-size: 24px; line-height: auto; color: #fff;}

.consulting .section01 .main-title-wrap {display: flex; gap: 20px; }

.consulting .section02 {position: relative; display: flex; flex-direction: column; justify-content: center; height: 90vh; background-color: #fff; z-index: 1;}

.consulting .section02 .main-heading-wrap {display: flex; justify-content: center; gap: 20px;}
.consulting .section02 .main-heading-sub-wrap {margin-top: 60px;}

.consulting .section03 {position: relative; background-color: #2C2C2C; padding: 150px 0 90px; z-index: 1;}
.consulting .section03 .swiper {height: 540px}
.consulting .section03 .swiper-wrapper {position: relative; height: 460px;}
.consulting .section03 .section-title {color: #fff; }
.consulting .section03 .swiper-slide {position: relative; display: flex; justify-content: center; max-width: 100%; min-height: 460px;}
.consulting .section03 .c-swiper__text {opacity: 0; transition: opacity 450ms ease; position: absolute; left: 0; right: 0; bottom: 0; margin: 0 auto; z-index: 1; color: #fff; }
.consulting .section03 .c-swiper__text .c-swiper__title {text-align: center; font-size: 80px; font-weight: 800; letter-spacing: -0.03em;}
.consulting .section03 .c-swiper__text .c-swiper__desc {text-align: center; font-size: 20px; font-weight: 500;}
.consulting .section03 .c-swiper__text .c-swiper__desc > br:nth-child(2) {display: none;}
.consulting .section03 .c-swiper__image-container {position: relative; overflow: hidden; width: 750px; height: 350px; border-radius: 999px; border: 1px solid #626262;}
.consulting .section03 .c-swiper__image-container img {opacity: 0; transition: opacity 450ms ease; width: 100%; height: 100%; object-fit: cover;}
.consulting .section03 .c-swiper__image-container .c-swiper__image-text {opacity: 1; transition: opacity 450ms ease; position: absolute; font-size: 40px; font-weight: 800; left: 0; right: 0; margin: 0 auto; top: 50%; transform: translateY(-50%); text-align: center; -webkit-text-stroke: 1px #969696;} 
.consulting .section03 .swiper-pagination {position: absolute; bottom: 0;}
.consulting .section03 .swiper .swiper-pagination-bullet {background-color: #fff;}

.consulting .section03 .swiper-slide-active .c-swiper__text {opacity: 1;}
.consulting .section03 .swiper-slide-active .c-swiper__image-container img {opacity: 1;}
.consulting .section03 .swiper-slide-active .c-swiper__image-container .c-swiper__image-text {opacity: 0;}
.consulting .section03 .swiper-slide-active .c-swiper__image-container {border: none;}

.consulting .section04 {position: relative; height: 100vh;}
.consulting .section04 .text-container {display: flex; flex-direction: column; justify-content: center; height: 100vh;}
.consulting .section04 .main-heading-sub-wrap {margin-top: 30px;}
.consulting .section04 .consulting-item {mix-blend-mode: exclusion; position: absolute; display: flex; flex-direction: column; justify-content: center; top: 0; width: 400px; height: 500px; border-radius: 20px;}
.consulting .section04 .consulting-item-title {text-align: center; font-size: 30px; font-weight: 600; letter-spacing: -0.03em; color: #fff;}
.consulting .section04 .consulting-item-1 {background: url(../../resources/images/sub/consulting_04_img01.png) center /cover; position: absolute; left: 10.42vw;; top: -510px;}
.consulting .section04 .consulting-item-2 {background: url(../../resources/images/sub/consulting_04_img02.png) center /cover; position: absolute; right: 10.42vw; top: -510px;}
.consulting .section04 .consulting-item-3 {background: url(../../resources/images/sub/consulting_04_img03.png) center /cover; position: absolute; left: 20vw; top: -510px;}

.consulting .section04 .main-heading-1 {overflow: hidden;}
.consulting .section04 .text-ani-04 {transform: translateY(100%);}
.consulting .section04 .main-heading-wrap {display: flex; justify-content: center; gap: 20px;}
.consulting .section04 .main-heading-sub {overflow: hidden;}

.consulting .section05 {position: relative; padding: 117px 0 272px; background:url(../../resources/images/sub/consulting_05_bg.png)  no-repeat center; background-size: cover; z-index: 1;}
.consulting .section05 .section-title {color: #fff;}
.consulting .section05 .text-wrap div {color: #fff;}
.consulting .section05 .main-heading-wrap {display: flex; justify-content: center; gap: 20px;}
.consulting .section05 .main-heading-sub-wrap {margin-top: 30px;}
.consulting .section05 .text-container {display: flex; flex-direction: column; justify-content: flex-end; height: 30vh;}

.consulting .section06 {padding: 160px 0 30px;}
.consulting .section06 .section-title {margin-bottom: 60px; text-align: center;}
.consulting .section06 .sec06-category {cursor: pointer; display: flex; justify-content: center; gap: 37px;}

.consulting .section06 .sec06-category > li a {font-size: 20px; font-weight: 500; letter-spacing: -0.03em; color: #AFAFAF; transition: all 0.3s;}
.consulting .section06 .sec06-category > li a:hover {color: #323232;}
.consulting .section06 .sec06-category > li.active a{color: #4B4B4B; text-decoration: underline; text-underline-offset : 10px;}

.consulting .section06 .tabcontent {display: none; animation: fadeEffect 1.3s;}
.consulting .section06 .category01-wrap {padding-bottom: 60px; padding-right: 1px; display: grid; grid-template-columns: repeat(4, 1fr); margin-top: 60px; gap: 20px; box-sizing: border-box;}
.consulting .section06 .category01-item {margin-right: 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; gap: 25px; padding: 33px 20px; border-radius: 20px; border: 1px solid #eeeeee; box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);}
.consulting .section06 .item-desc {text-align: center; font-size: 16px; font-weight: 500; line-height: 22px; letter-spacing: -0.03em; color: var(--color-black);}
.consulting .section06 .item-desc > br {display: none;}
.consulting .section06 .swiper {position: relative;}
.consulting .section06 .swiper-pagination {position: absolute; bottom: 0px;}
.consulting .section06 .swiper-pagination-bullet {background-color: #fff; border: 1px solid #B4B4B4; opacity: 1;}
.consulting .section06 .swiper-pagination-bullet-active {background-color: #B4B4B4;}
.consulting .section06 .btn-more {margin-top: 120px; padding: 34px 0; display: flex; justify-content: center; align-items: center; width: 100%; gap: 10px; border-radius: 20px; background-color: #1D1D1D;}
.consulting .section06 .btn-more > p {font-size: 24px; font-weight: 600; letter-spacing: -0.03em; color: #E1E1E1;}
.consulting .section06 .btn-more > p > br {display: none;}
@keyframes fadeEffect { from {opacity: 0;} to {opacity: 1;}}

.consulting .section02 .main-heading-1 > br:nth-child(3) {display: none;}
.consulting .section05 .main-heading-1 > br:nth-child(2) {display: none;}

.consulting .section07 {margin-top: 170px;}
.consulting .section07 .form-wrap {margin: 70px auto 0; width: 760px; padding: 40px 50px;}
.consulting .section07 .form-wrap .form-group-wrap {display: flex; justify-content: space-between; gap: 24px;}
.consulting .section07 .form-wrap .form-group {flex: 1; margin-top: 30px;}
.consulting .section07 .form-wrap .form-group .bul-must {color: #323232;}
.consulting .section07 .form-wrap .form-group .form-label label {font-size: 18px; font-weight: 700;}
.consulting .section07 .form-wrap .form-group input {width: 100%; height: 40px; border-bottom: 1px solid #C8C8C8; border-radius: 0; font-size: 16px;}
.consulting .section07 .form-wrap .form-group .form-detail {height: 120px;}
.consulting .section07 .form-wrap .form-group textarea {width: 100%; margin-top: 15px; background-color: #ffffff00; border: none; font-size: 16px;}
.consulting .section07 .form-wrap .form-group textarea {border-bottom: 1px solid #C8C8C8; border-radius: 0;}
.consulting .section07 .form-wrap .privacy-wrap {margin-top: 30px;}
.consulting .section07 .form-wrap .icheckbox {width: 20px; height: 20px; border-radius: 5px; border: 1px solid #000; background-color: none;}
.consulting .section07 .form-wrap .chk-box {position: relative; display: block; font-size: 16px; font-weight: 500; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.consulting .section07 .form-wrap .on {display: inline-block; vertical-align: middle; margin-right: 10px; width: 20px; height: 20px; border-radius: 5px; border: 1px solid #DFE1E6;}
.consulting .section07 .form-wrap .chk-box input[type="checkbox"] {display: none;}

.consulting .section07 .form-wrap .chk-box input[type="checkbox"]:checked + .on { background: #fff; }
.consulting .section07 .form-wrap .on:after { content: ""; position: absolute; display: none; }
.consulting .section07 .form-wrap .chk-box input[type="checkbox"]:checked + .on:after { display: block; }
.consulting .section07 .form-wrap .on:after { width: 6px; height: 10px; border: solid #000; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 6px; top: 5px; }
.consulting .section07 .form-wrap .btn-toggle {font-size: 16px; font-weight: 700; display: flex; gap: 5px; border-bottom: 1px solid #323232;}
.consulting .section07 .form-wrap .submit-btn {margin-top: 30px; padding: 14px 50px; border-radius: 999px; border: 1px solid #323232; font-size: 18px; font-weight: 700; color: #323232; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.consulting .section07 .form-wrap .submit-btn:hover {background-color: #323232; border: 1px solid #fff; color: #fff;}
.consulting .section07 .view-fulltext {display: none; width: 100%; margin-top: 30px; padding: 20px; font-size: 15px; font-weight: 400; line-height: 20px; border-radius: 10px; background-color: #F7F7F7;}
.consulting .section07 .view-fulltext p {word-break: break-all;}
.consulting .section07 .view-fulltext p .em {font-weight: 600;}

@media (max-width: 1670px) {
    .consulting .section06 .item-desc > br {display: block;}
}
@media (max-width: 1440px) {
    .consulting .main-heading-1 {font-size: 36px; line-height: 54px;}
    .consulting .main-heading-sub {font-size: 18px; line-height: 30px;}
    .consulting .section-title {font-size: 38px;}

    .consulting .section01 .main-title {font-size: 60px;}
    .consulting .section01 .main-desc {font-size: 20px;}

    .consulting .section03 .swiper-slide {min-height: unset; height: 440px;}
    .consulting .section03 .c-swiper__text .c-swiper__title {font-size: 54px;}
    .consulting .section03 .c-swiper__text .c-swiper__desc {font-size: 18px; line-height: 28px;}

    .consulting .section04 .consulting-item {width: 320px; height: 420px;}
    .consulting .section04 .consulting-item-title {font-size: 24px;}

    .consulting .section06 .sec06-category {font-size: 16px;}
    .consulting .section06 .category01-item > img {width: 40%;}
    .consulting .section06 .btn-more {padding: 20px 0;}
    .consulting .section06 .btn-more > p {font-size: 20px;}
}
@media (max-width: 1208px) {
    .consulting .section03 .c-swiper__image-container {height: 320px;}
    .consulting .section03 .c-swiper__text .c-swiper__desc {font-size: 16px; line-height: 26px;}
    .consulting .section03 .c-swiper__text .c-swiper__desc > br:nth-child(2) {display: block;}
    
    .consulting .section06 .category01-wrap {grid-template-columns: 1fr 1fr; grid-auto-rows: auto;}
    .consulting .section06 .category01-item {height: 130px;}
    .consulting .section06 .category01-item > img {height: 40px; object-fit: contain;}
    .consulting .section06 .item-desc > br {display: none;}
}
@media (max-width: 1100px) {
    .consulting .section02 .main-heading-1 > br:nth-child(3) {display: block;}
    .consulting .section05 .main-heading-1 > br:nth-child(2) {display: block;}
}
@media (max-width: 960px) {
    .consulting .section03 {padding: 110px 0 90px;}
    .consulting .section03 .swiper {height: 450px;}
    .consulting .section03 .swiper-slide {height: 370px;}
    .consulting .section03 .c-swiper__image-container {height: 250px;}
    .consulting .section03 .c-swiper__text .c-swiper__title {font-size: 40px;}
    .consulting .section03 .c-swiper__text .c-swiper__desc {margin-top: 15px;}
    .consulting .section03 .c-swiper__image-container .c-swiper__image-text {font-size: 25px;}

    .consulting .section04 .consulting-item {width: 250px; height: 350px;}
    .consulting .section06 .category01-item {padding: 20px 15px; gap: 14px;}
    .consulting .section06 .btn-more > p {font-size: 18px;}
}
@media (max-width: 890px) {
    .consulting .section07 .form-wrap {width: 100%;}
}
@media (max-width: 810px) {
    .consulting .section05 .main-heading-sub > br {display: none;}
}
@media (max-width: 767px) {
    .consulting .main-heading-1 {font-size: 24px; line-height: 40px;}
    .consulting .main-heading-sub {font-size: 16px; line-height: 30px;}
    .consulting .section-title {font-size: 24px;}

    .consulting .section01 {justify-content: flex-end;}
    .consulting .section01 .main-title {font-size: 42px; line-height: 54px;}
    .consulting .section01 .main-desc {font-size: 16px; line-height: 24px;}

    .consulting .section03 {padding: 70px 0 115px;}
    .consulting .section03 .section-title {text-align: center; font-size: 24px;}
    .consulting .section03 .swiper {height: 350px;}
    .consulting .section03 .swiper-slide {height: 270px;}
    /* .consulting .section03 .swiper-pagination {display: none;} */
    .consulting .section03 .c-swiper__image-container {width: 290px; height: 150px;}
    .consulting .section03 .c-swiper__text .c-swiper__title {font-size: 32px;}

    .consulting .section04 {height: 100vh;}
    .consulting .section04 .consulting-item {width: 166px; height: 207px;}
    .consulting .section04 .consulting-item-title {font-size: 18px;}

    .consulting .section05 .text-container {display: block;}
    .consulting .section05 .section-title {text-align: center;}
    .consulting .section05 .main-heading-1 {font-size: 20px; line-height: 32px;}
    .consulting .section05 .main-heading-sub {font-size: 16px; line-height: 28px;}

    .consulting .section06 {padding: 110px 0 80px;}
    .consulting .section06 .section-title {margin-bottom: 36px;}
    .consulting .section06 .sec06-category {font-size: 14px; gap: 20px;}
    .consulting .section06 .sec06-category > li a {font-size: 14px;}
    .consulting .section06 .category01-item > img {width: 40%;}
    .consulting .section06 .btn-more {margin-top: 60px; padding: 20px 30px; justify-content: space-between;}
    .consulting .section06 .btn-more > p {text-align: left; font-size: 14px; line-height: 22px;}

    .consulting .section07 .form-wrap {margin: 0; padding: 0; width: 100%;}
    .consulting .section07 .form-wrap .form-group-wrap {flex-direction: column; gap: 0;}
    .consulting .section07 .form-wrap .form-group {width: 100%;}
    .consulting .section07 .form-wrap .form-group .form-label label {font-size: 14px;}
    .consulting .section07 .form-wrap .form-group textarea {font-size: 14px;}
    .consulting .section07 .form-wrap .chk-box {font-size: 14px;}
    .consulting .section07 .form-wrap .on {margin:0 7px 3px 0;}
    .consulting .section07 .form-wrap .btn-toggle {margin-top: 20px; font-size: 14px;}
    .consulting .section07 .view-fulltext {margin-top: 20px; font-size: 13px;}
    .consulting .section07 .form-wrap .submit-btn {margin-top: 20px; padding: 10px 40px; font-size: 14px; width: 136px; height: 40px;}
}

@media (max-width: 610px) {
    .consulting .section02 .main-heading-1 > br {display: none;}
    .consulting .section02 .main-heading-sub > br {display: none;}
    .consulting .section04 .main-heading-sub > br {display: none;}
    .consulting .section05 .main-heading-1 > br {display: none;}
    .consulting .section05 .main-heading-sub > br {display: none;}
    
    .consulting .section02 .main-heading-1 > br:nth-child(3) {display: none;}
    .consulting .section05 .main-heading-1 > br:nth-child(2) {display: none;}
    
    .consulting .section06 .category01-item > img {width: 60%;}
    .consulting .section06 .btn-more > p br {display: block;}
    
}
@media (max-width: 510px) {
    .consulting .section01 .main-title-wrap {flex-direction: column; gap: 5px; margin-bottom: 20px;}
    .consulting .section01 .main-title {line-height: 50px; margin-bottom: 0; }
}
@media (max-width: 471px) {
    .consulting .section03 .swiper {height: 330px;}
    .consulting .section03 .swiper-slide {height: 290px;}
    .consulting .section06 .item-desc {font-size: 10px; line-height: 16px;}
    .consulting .section06 .item-desc > br {display: block;}
    .consulting .section06 .btn-more {padding: 20px 15px;}
}
/* @media (max-width: 400px) {
    .consulting .section07 .form-wrap .submit-btn {width: 100%;}
} */

/* Infra business */

.infrabusiness .main-heading-1 {text-align: center; font-weight: 800; font-size: 48px; line-height: 68px; letter-spacing: -0.02em; color: var(--color-black);}
.infrabusiness .main-heading-sub {margin-top: 0; text-align: center; font-weight: 400; font-size: 20px; line-height: 32px; letter-spacing: -0.02em; color: var(--color-black);}
.infrabusiness .section-title {margin-bottom: 80px; font-size: 48px; font-weight: 800; letter-spacing: -0.03em;}
.infrabusiness .section01 {display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100vh; background:url(../../resources/images/sub/infrabusiness_01_visual.png)  no-repeat center bottom; background-size: cover;}
.infrabusiness .section01 .main-text {padding: 150px 0;}
.infrabusiness .section01 .main-title {font-family: 'Paybooc'; font-size: 80px; color: #fff; margin-bottom: 10px;}
.infrabusiness .section01 .main-desc {font-weight: 400; font-size: 24px; line-height: auto; color: #fff;}

.infrabusiness .section01 .main-title-wrap {display: flex; gap: 20px; }
/* .infrabusiness .section01 .main-title {overflow: hidden;}
.infrabusiness .section01 .main-title .text-ani {transform: translateY(100%);}
.infrabusiness .section01 .main-desc {overflow: hidden;}
.infrabusiness .section01 .main-desc .text-ani {transform: translateY(100%);} */

.infrabusiness .section02 {position: relative; padding: 200px 0 235px 10.42vw; border-top: 1px solid #ddd; background-color: #fff; z-index: 1;} 
/* .infrabusiness .section02 .inner {padding-right: 0;} */
.infrabusiness .section02 .content-wrap {position: relative; width: 100%; background: url(../../resources/images/sub/infrabusiness_02_bg.png)no-repeat 5% 90%;}
.infrabusiness .section02 .content-wrap::before {position: absolute; content: ''; width: 479px; height: 720px; background-color: #F6F6F6; border-radius: 2rem 0 0 2rem; top: -50px; right: 0;}
.infrabusiness .section02 .content-wrap .heading-wrap {flex-shrink: 0;}
.infrabusiness .section02 .main-heading-1,
.infrabusiness .section02 .main-heading-sub {text-align: left;}
.infrabusiness .section02 .main-heading-sub-wrap {margin-top: 30px;}
.infrabusiness .section02 .heading-wrap {position: absolute; z-index: 2;}
.infrabusiness .section02 .heading-wrap img {margin-top: 60px;}


.infrabusiness .section02 .swiper-wrapper {padding: 0; width: 100vw !important; overflow: visible; align-items: center;}
.infrabusiness .section02 .swiper-slide {display: inline-block; background-color: #fff; min-width: 326px; width: 400px; height: 480px; /*zoom: 1;*/ padding: 0 0 42px 30px;  display: flex; flex-direction: column; justify-content: flex-end; border-radius: 20px; box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.08); transition: all 0.5s ease-in-out;}
.infrabusiness .section02 .i-swiper__image-container {align-self: flex-end; padding-bottom: 70px; transition: all 0.5s ease-in-out;}
.infrabusiness .section02 .i-swiper__image-container img {transform: translateX(2px);}
.infrabusiness .section02 .i-swiper__title {font-size: 24px; font-weight: 700; color: #2A5FAF;}
.infrabusiness .section02 .i-swiper__desc {margin-top: 15px; font-size: 16px; font-weight: 400; color: #969696;}

.infrabusiness .section02 .swiper-slide-active {/*zoom: 1.2;*/ background: linear-gradient(-30deg, #1856B2 0%, #4E89E2 100%); transition: all 0.5s ease-in-out;}
.infrabusiness .section02 .swiper-slide-active .i-swiper__title {color: #fff;}
.infrabusiness .section02 .swiper-slide-active .i-swiper__desc {color: #fff;}
.infrabusiness .section02 .swiper-slide-prev {opacity: 0;}
/* .infrabusiness .section02 .swiper-slide-prev.swiper-slide-prev {opacity: 0;} */
.infrabusiness .section02 .swiper-slide-next {opacity: 0.8;}
.infrabusiness .section02 .swiper-pagination {bottom: -50px;}
.infrabusiness .section02 .swiper-slide-active.off:not(.swiper-slide-active) {transform:translateX(-530%) !important; transition-delay:0s !important;}
/* .infrabusiness .section02 .swiper-slide.off:not(.swiper-slide-active) {transform:translateX(-530%) !important; transition-delay:0s !important;} */
/* .main-infotech-list .list-item.off:not(.slick-current){transform:translateX(-530%) !important; transition-delay:0s !important;} */
/* .infrabusiness .section02 .swiper-hidden {} */
/* 
.hero__content--hidden {
    visibility: hidden;
    transition: none;
    transform: none;
    opacity: 1;
    z-index: 0;
  }
  .hero__content--top {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 2;
  } */

.infrabusiness .section03 {position: relative; padding: 150px 0 0; width: 100%; height: 837px; background-color: #2A5FAF; z-index: 1;}
.infrabusiness .section03 .main-heading-1 {text-align: left; color: #fff;}

.infrabusiness .section03 .tabs {display: flex; justify-content: flex-end; gap: 20px; margin-top: -40px;}
.infrabusiness .section03 .tab a {font-size: 24px; font-weight: 500; color: #78A0DB; cursor: pointer;}
.infrabusiness .section03 .tab.active a {color: #fff;}
.infrabusiness .section03 .tabcontent {display: none; animation: fadeEffect 1.3s;}
@keyframes fadeEffect {from {opacity: 0;} to {opacity: 1;}}

.infrabusiness .section03 .swiper {position: relative; margin-top: 75px; width: 100%; overflow: hidden;}
.infrabusiness .section03 .swiper-wrapper {position: relative; width: 100%;}
.infrabusiness .section03 .swiper-slide {display: flex; flex-direction: column; justify-content: center; align-items: center; opacity: 0.5; transition: all .3s ease-in-out;}
.infrabusiness .section03 .swiper-image {display: flex; flex-direction: column; justify-content: space-between; align-items: center; padding: 50px 50px 60px; width: 740px; height: 340px; border-radius: 20px; background-color: #fff;}
.infrabusiness .section03 .swiper-image img {object-fit: contain;}
.infrabusiness .section03 .swiper-image .img-logo {align-self: flex-start; margin-top: 0;}
.infrabusiness .section03 .swiper-image .img-product {max-width: 100%; max-height: 100%; object-fit: contain;}
.infrabusiness .section03 .slide-label {margin-top: 33px; text-align: center; font-size: 24px; font-weight: 400; color: #fff; opacity: 0;}
.infrabusiness .section03 .swiper-slide.swiper-slide-active {opacity: 1;}
.infrabusiness .section03 .swiper-slide.swiper-slide-active .slide-label {opacity: 1;}

.infrabusiness .section03 .swiper-button-wrap {position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; width: 60%; height: 85%; display: flex; justify-content: space-between; z-index: 1;}
.infrabusiness .section03 .swiper-button-next {position: absolute; right: 0; width: 60px; height: 60px; background: url(../images/sub/infrabusiness_03_btn_r.png) no-repeat; background-size: cover; background-position: center;}
.infrabusiness .section03 .swiper-button-prev {position: absolute; left: 0; width: 60px; height: 60px; background: url(../images/sub/infrabusiness_03_btn_l.png) no-repeat; background-size: cover; background-position: center;}
.infrabusiness .section03 .swiper-button-next::after,
.infrabusiness .section03 .swiper-button-prev::after {display: none;}

.infrabusiness .section04 {padding: 170px 0 0;}
.infrabusiness .section04 .content-wrap {margin: 80px 0 60px;}
.infrabusiness .section04 .logo-box-wrap { display: flex; gap: 20px;}
.infrabusiness .section04 .logo-box {display: flex; gap: 20px; animation: bannermove 20s linear infinite;}
.infrabusiness .section04 .logo-box div { display: flex; justify-content: center; align-items: center; width: 280px; height: 105px; border-radius: 20px; box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-101%, 0);
    }
}

.infrabusiness .section05 .address-mo {display: none;}
.infrabusiness .section05 {padding-bottom: 100px; background: url(../images/sub/infrabusiness_05_bg.png)no-repeat center 180px; border-bottom: 1px solid #E1E1E1;}

.infrabusiness .section05 .content-wrap {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.infrabusiness .section05 .address {display: inline-block; padding: 10px 50px; text-align: center; font-size: 16px; font-weight: 400; color:#2A5FAF; border-radius: 50px; background-color: #fff; box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);}
.infrabusiness .section05 .address br {display: none;}
.infrabusiness .section05 .form-wrap {margin: 179px auto 0; width: 604px; padding: 40px 50px;}
.infrabusiness .section05 .form-wrap .form-group-wrap {display: flex; justify-content: space-between; gap: 24px;}
.infrabusiness .section05 .form-wrap .form-group {flex: 1; margin-top: 30px;}
.infrabusiness .section05 .form-wrap .form-name {margin-top: 0;}
.infrabusiness .section05 .form-wrap .form-group .form-label label {font-size: 16px; font-weight: 700;}
.infrabusiness .section05 .form-wrap .form-group input {width: 100%; height: 40px; border-bottom: 1px solid #000; border-radius: 0; font-size: 16px;}
.infrabusiness .section05 .form-wrap .form-group .form-detail {height: 120px;}
.infrabusiness .section05 .form-wrap .form-group textarea {width: 100%; margin-top: 10px; background-color: #ffffff00; border: none; font-size: 16px;}
.infrabusiness .section05 .form-wrap .form-group textarea {border-bottom: 1px solid #000; border-radius: 0;}
.infrabusiness .section05 .form-wrap .privacy-wrap {margin-top: 30px;}
.infrabusiness .section05 .form-wrap .icheckbox {width: 20px; height: 20px; border-radius: 5px; border: 1px solid #000; background-color: none;}
.infrabusiness .section05 .form-wrap .chk-box {position: relative; display: block; font-size: 16px; font-weight: 500; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.infrabusiness .section05 .form-wrap .on {display: inline-block; vertical-align: middle; margin-right: 10px; width: 20px; height: 20px; border-radius: 5px; border: 1px solid #DFE1E6;}
.infrabusiness .section05 .form-wrap .chk-box input[type="checkbox"] {display: none;}

.infrabusiness .section05 .select-label {display: flex; flex-direction: column; gap: 10px; margin-top: 0; border-bottom: 1px solid #000;}
.infrabusiness .section05 .select-label > label {font-size: 16px; font-weight: 700;}
.infrabusiness .section05 .select-label > select {padding: 8px 10px; font-size: 14px; font-weight: 400; border: 1px solid #fff; color: #323232; -webkit-appearance: none; -moz-appearance: none; background:#fff url(../images/sub/infrabusiness_05_arr_gr.png)no-repeat 95% 50% / 8%;}
.infrabusiness .section05 .select-label > select::-ms-expand {display: none;}

.infrabusiness .section05 .form-wrap .chk-box input[type="checkbox"]:checked + .on { background: #fff; }
.infrabusiness .section05 .form-wrap .on:after { content: ""; position: absolute; display: none; }
.infrabusiness .section05 .form-wrap .chk-box input[type="checkbox"]:checked + .on:after { display: block; }
.infrabusiness .section05 .form-wrap .on:after { width: 6px; height: 10px; border: solid #000; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 6px; top: 5px; }

.infrabusiness .section05 .form-wrap .btn-toggle {font-size: 16px; font-weight: 500; display: flex; gap: 5px;}
.infrabusiness .section05 .form-wrap .infra-more-btn.active svg {transform: rotate(180deg);}
.infrabusiness .section05 .form-wrap .submit-btn {margin-top: 30px; padding: 15px 50px; border-radius: 999px; border: 1px solid #6F98E8; font-size: 18px; font-weight: 700; color: #6F98E8; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.infrabusiness .section05 .form-wrap .submit-btn:hover {background-color: #6f97e830;}
.infrabusiness .section05 .view-fulltext {width: 100%; margin-top: 15px; padding: 15px; font-size: 14px; font-weight: 400; line-height: 20px; border: 1px solid #ddd;}
.infrabusiness .section05 .view-fulltext p {word-break: break-all;}

@media (max-width: 1520px) {
    .infrabusiness .section03 .swiper-image {width: 600px;}
}
@media (max-width: 1440px) {
    .infrabusiness .main-heading-1 {font-size: 36px; line-height: 54px;}
    .infrabusiness .main-heading-sub {font-size: 18px; line-height: 30px;}
    .infrabusiness .section-title {font-size: 38px;}

    .infrabusiness .section01 .main-title {font-size: 60px;}
    .infrabusiness .section01 .main-desc {font-size: 20px;}

}

@media (max-width: 1279px) {
    .infrabusiness .section02 .heading-wrap {position: relative;}
    .infrabusiness .section02 .content-wrap::before {position: absolute; content: ''; width: 479px; height: 720px; background-color: #F6F6F6; border-radius: 2rem 0 0 2rem; top: 230px; right: 0;}
    .infrabusiness .section03 .tab {font-size: 20px;}
    .infrabusiness .section03 .slide-label {font-size: 20px;}
    .infrabusiness .section03 .swiper-image {width: 400px; height: 270px;}
    .infrabusiness .section03 .swiper-image .img-logo {width: 30%;}
}
@media (max-width: 1160px) {
    .infrabusiness .section05 {background: url(../images/sub/infrabusiness_05_bg.png)no-repeat center 20%; background-size: 90%;}
    .infrabusiness .section05 .address br {display: block;}
}
@media (max-width: 1024px) {
    /* .infrabusiness .section02 .swiper-slide-active {min-width: 300px; height: 400px;} */
    /* .infrabusiness .section03 .swiper-image {height: 250px;} */
}
@media (max-width: 940px) {
    .infrabusiness .section03 .swiper-image {padding: 20px 20px 30px; width: 300px; height: 200px;}
    .infrabusiness .section03 .swiper-image .img-product {width: 90%;}
}
@media (max-width: 767px) {
    .infrabusiness .main-heading-1 {font-size: 28px; line-height: 40px;}
    .infrabusiness .main-heading-sub {font-size: 16px; line-height: 30px;}
    .infrabusiness .section-title {font-size: 24px;}

    .infrabusiness .section01 {justify-content: flex-end;}
    .infrabusiness .section01 .main-title {font-size: 42px; line-height: 54px;}
    .infrabusiness .section01 .main-desc {font-size: 16px; line-height: 24px;}

    .infrabusiness .section02 {padding: 100px 0 150px 24px;}
    .infrabusiness .section02 .content-wrap .heading-wrap {margin-bottom: 50px;}
    .infrabusiness .section02 .content-wrap::before {display: none;}
    .infrabusiness .section02 .heading-wrap img {margin-top: 0; position: absolute; top: 0; right: 24px; width: 34px;}
    .infrabusiness .section02 .swiper-slide {padding: 0 0 30px 20px; width: 200px; height: 380px; border-radius: 10px;}
    .infrabusiness .section02 .i-swiper__image-container {align-self: flex-end; padding-bottom: 20px;}
    .infrabusiness .section02 .i-swiper__image-container img {height: 100%;}
    .infrabusiness .section02 .i-swiper__title {font-size: 18px;}
    .infrabusiness .section02 .i-swiper__desc {margin-top: 3px; font-size: 12px;}

    .infrabusiness .section03 {padding: 94px 0 126px; height: auto;}
    .infrabusiness .section03 .section-title {text-align: center; font-size: 24px;}
    .infrabusiness .section03 .tabs {margin-top: 40px; justify-content: center;}
    .infrabusiness .section03 .swiper {margin-top: 60px; overflow: visible;}
    .infrabusiness .section03 .swiper-image {width: 220px; height: 167px;}
    .infrabusiness .section03 .swiper-image .img-logo {width: 40%;}
    .infrabusiness .section03 .swiper-image .logo-dell {width: 50%;}
    .infrabusiness .section03 .swiper-button-wrap {width: 80%;}
    .infrabusiness .section03 .swiper-button-prev {width: 36px; height: 36px;}
    .infrabusiness .section03 .swiper-button-next {width: 36px; height: 36px;}
    .infrabusiness .section03 .slide-label {margin-top: 20px; font-size: 18px;}

    .infrabusiness .section04 {padding: 117px 0 0;}
    .infrabusiness .section04 .logo-box {gap: 11px;}
    .infrabusiness .section04 .logo-box div {width: 154px; height: 58px; border-radius: 6px; box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);}
    .infrabusiness .section04 .logo-box div img {width: 60%;}
    .infrabusiness .section04 .content-wrap {margin: 60px 80px;}

    .infrabusiness .section05 .address {display: none;}
    .infrabusiness .section05 .address-mo {display: block; width: 100%; padding: 20px; text-align: left; font-size: 13px; line-height: 22px; font-weight: 400; color:#2A5FAF; border-radius: 20px; background-color: #fff; box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);}
    .infrabusiness .section05 .address-mo .location {font-weight: 700; margin-bottom: 5px;}
    .infrabusiness .section05 .address-mo .location2 {margin-top: 12px;}

    .infrabusiness .section05 .form-wrap {margin:150 auto 0; padding: 0; width: 100%;}
    .infrabusiness .section05 {background: url(../images/sub/infrabusiness_05_bg.png)no-repeat center 30%; background-size: 90%;}
    .infrabusiness .section05 .form-wrap .form-group .form-label label {font-size: 14px;}
    .infrabusiness .section05 .select-label > label {font-size: 14px;}
    .infrabusiness .section05 .form-wrap .chk-box {font-size: 14px;}
    .infrabusiness .section05 .form-wrap .btn-toggle {font-size: 14px;}
    .infrabusiness .section05 .form-wrap .submit-btn {margin-top: 38px; padding: 8px 40px; font-size: 14px;}
}

@media (max-width: 590px) {

    .infrabusiness .section03 .swiper-slide {height: 200px;}
    .infrabusiness .section03 .swiper-button-wrap {width: 85%;}
    .infrabusiness .section05 .form-wrap .form-group-wrap {flex-direction: column;}
    .infrabusiness .section05 .select-label > select {background: #fff url(../images/sub/infrabusiness_05_arr_gr.png)no-repeat 95% 50% / 5%;}
}