@charset "utf-8";

.infrasub {padding-top: 130px}
.infrasub .infra-menu {margin-bottom: 130px; display: flex; justify-content: center; gap: 80px; font-size: 20px; font-weight: 600; letter-spacing: -0.03em; color: #AAAAAA;}
.infrasub .infra-menu .active {color: #393939;}
.infrasub .title-sub {text-align: center; font-size: 36px; font-weight: 700; letter-spacing: -0.03em; text-transform: uppercase; color: #D6D6D6;}
.infrasub .main-title {margin-top: 26px; font-family: 'Paybooc'; font-size: 80px; font-weight: 800; text-align: center; letter-spacing: -0.01em;}
.infrasub .main-img {display: flex; justify-content: center; margin-top: 155px;}

.infrasub .section02 {margin-top: -160px; padding: 382px 0 140px; text-align: center; background-color: #F7FAFF;}
.infrasub .heading-1 {font-size: 46px; font-weight: 800; letter-spacing: -0.03em; color: #323232;}
.infrasub .heading-2 {font-size: 42px; font-weight: 800; line-height: 54px; letter-spacing: -0.03em; color: #323232;}
.infrasub .main-desc-title {margin-top: 40px; font-size: 30px; font-weight: 800; letter-spacing: -0.03em; color: #323232;}
.infrasub .main-desc {margin-top: 30px; font-size: 20px; font-weight: 400; line-height: 32px; letter-spacing: -0.03em; color: #4B4B4B;}

.infrasub .subinner {max-width: 1280px; margin: 0 auto;}
.infrasub .section03 {padding: 120px 0;}
.infrasub .keyword-content {display: flex; justify-content: space-between;}
.infrasub .icon-desc-wrap {display: grid; grid-template-columns: 1fr 1fr; grid-row: auto; width: 80.5%; column-gap: 40px; row-gap: 80px;}
.infrasub .icon-desc {padding-top: 55px; border-top: 1px solid #E8E8E8;}

.infrasub .con-title {font-size: 30px; font-weight: 800; letter-spacing: -0.03em; color: #323232;}
.infrasub .keyword {margin-top: 30px; font-size: 24px; font-weight: 600;}
.infrasub .keyword-desc {margin-top: 30px; font-size: 18px; font-weight: 400; line-height: 30px; letter-spacing: -0.03em;}

.infrasub .section04 {padding: 160px 0 140px; text-align: center; background-color: #F7FAFF;}
.infrasub .section05 {padding: 120px 0;}
.infrasub .section06 {padding: 140px 0; text-align: center; background-color: #F7FAFF;}
.infrasub .section07 {padding: 120px 0 180px;}

.cloud .section02 .img-wrap {margin: 40px auto 0; display: flex; justify-content: center; align-items: center; width: 45.5%; gap: 100px;}
.cloud .section04 .img-wrap {position: relative; margin-top: 60px; text-align: center;}
.cloud .section04 .img-wrap img {object-fit: contain;}
.cloud .section04 .img-wrap::after {content: ''; display: block; position: absolute; top: 0; left: 62%; width: 229px; height: 193px; background: url(../../resources/images/sub-infra/cloud_04_img02.png)no-repeat; background-size: cover;}
.cloud .section04 .main-desc-title {margin-top: 80px;}
.cloud .section04 .main-desc-title:nth-child(2) {margin-top: 73px;}
.cloud .section06 .img-wrap img {mix-blend-mode: darken; margin-top: 60px;}
.cloud .section06 .main-desc-title {margin-top: 80px;}

.backup .main-img {margin-top: 135px;}
.backup .section02 {padding-top: 320px;}
.backup .section02 .img-wrap {margin-top: 60px;}
.backup .main-desc-title {margin-top: 80px;}
.backup .keyword span {font-size: 20px;}
.backup .section04 .img-wrap {margin-top: 80px;}
.backup .section06 {padding:254px 0 312px; background:url(../../resources/images/sub-infra/backup_06_bg01.png)no-repeat,url(../../resources/images/sub-infra/backup_06_bg02.png)no-repeat,#F7FAFF ; background-position: 22% 19%, 82% 82%;}
.backup .section06 .img-wrap {margin-top: 100px; display: flex; justify-content: center; gap: 30px;}
.backup .section06 .img-wrap div {display: flex; justify-content: center; align-items: center; width: 306px; height: 115px; border-radius: 10px; background-color: #fff; box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);}

.data .section02 {padding: 300px 0 140px;}
.data .heading-1 {margin-bottom: 40px;}
.data .section02 .main-desc-title {margin-top: 80px;}
.data .section02 .img-wrap {margin: 0 auto; width: 544px; height: 360px; border-radius: 20px; overflow: hidden;}

.hardware .section02 {margin-top: 118px; padding: 123px 0 343px;}
.hardware .section02 .hardware-menu {margin-top: 80px; display: flex; justify-content: center; gap: 70px; font-size: 20px; font-weight: 700; color: #AAAAAA;;}
.hardware .section02 .hardware-menu a.on {color: #1E66D2;}
.hardware .section02 .product-wrap {display: flex; justify-content: space-between;}
.hardware .section02 .product-wrap .img-wrap {margin-top: 100px; padding: 25px 35px; display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr 9fr; width: 350px; height: 350px; border-radius: 20px; background-color: #fff; box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);}
.hardware .section02 .product-wrap .img-wrap img:nth-child(2) {align-self: center; justify-self: center;}
.hardware .section02 .product-wrap .product-label {margin-top: 35px; font-size: 24px; font-weight: 500; line-height: 34px; letter-spacing: -0.03em; text-align: center; color: #282828;}

.hardware .section03 {padding-bottom: 175px;}
.hardware .section03 .con-title {text-align: center;}
.hardware .section03 .logo-wrap {margin-top: 100px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px;}
.hardware .section03 .logo-wrap div {width: 100%; display: flex; justify-content: center; align-self: center;}

.mainsub .section01 {padding-top: 280px; position: relative; z-index: 1;}
.mainsub .main-category {font-family: 'Paybooc'; font-size: 20px; letter-spacing: -0.03em; color: #323232;}
.mainsub .category-heading {margin: 30px 0 216px; font-size: 54px; font-weight: 500; letter-spacing: -0.03em; line-height: 70px;}
.mainsub .main-visual {margin: 0 30px; height: 646px; border-radius: 20px; object-fit: contain; overflow: hidden;}
.mainsub .main-visual img {width: 100%; object-fit: contain;}
/* .mainsub .main-title-wrap {z-index: 10;} */
.mainsub .heading-1 {margin-top: 120px; font-size: 48px; font-weight: 700; letter-spacing: -0.03em; line-height: 68px; color: #323232;}
.mainsub .heading-2 {margin-top: 80px; font-size: 24px; font-weight: 500; letter-spacing: -0.03em; line-height: 36px; color: #323232;}
.mainsub .btn-top {margin-top: 50px; text-align: right;}
.mainsub .btn-top img {margin: 0 120px 116px 0; width: 60px; height: 60px;}

/* .sub01 .category-heading {overflow: hidden;}
.sub01 p .text-ani {transform: translateY(100%);} */

.sub01 .company-info-wrap {display: flex; justify-content: right;}
.sub01 .company-info {margin-top: 100px; display: grid; grid-template-columns: 1fr 1fr; column-gap: 60px;}
.sub01 .company-info .info-wrap {padding-top: 30px; width: 365px; height: 202px; border-top: 1px solid #969696;}
.sub01 .company-info .info-title {font-size: 20px; font-weight: 500; letter-spacing: -0.03em; color: #4B4B4B;}
.sub01 .company-info .info-content {margin-top: 20px; font-size: 24px; font-weight: 600; letter-spacing: -0.03em; color: #323232;}
.sub01 .section03 {margin-top: 276px; text-align: center;}
.sub01 .section04 {margin: 230px 30px 150px; padding-right: 11%; display: flex; justify-content: right; height: 911px; border-radius: 20px; overflow: hidden; background: url(../../resources/images/sub2/sub01_img_sub.png)no-repeat; background-size: cover;}
.sub01 .section04 .content-wrap {width: 700px;}
.sub01 .section04 .content-wrap .content-title-desc {margin-top: 165px; color: #fff;}
.sub01 .section04 .content-wrap .content-title-desc:nth-child(1) {margin-top: 0;}
.sub01 .section04 .content-wrap .content-title {font-size: 60px; font-weight: 800; letter-spacing: -0.03em;}
.sub01 .section04 .content-wrap .content-desc {margin-top: 20px; font-size: 24px; font-weight: 500; letter-spacing: -0.03em; line-height: 34px;}

.sub02 .section02 {padding-bottom: 140px; background: url(../../resources/images/sub2/sub02_bg.png)no-repeat 0 115%;}
.sub02 .section02 .content-wrap {display: flex; flex-direction: column; gap: 50px;}
.sub02 .section02 .content-wrap .greeting-wrap {width: 67%; align-self: flex-end;}
.sub02 .section02 .content-wrap .greeting p {margin-top: 30px; font-size: 24px; font-weight: 500; line-height: 36px; letter-spacing: -0.03em; color: #323232;}
.sub02 .section02 .content-wrap .greeting p:nth-child(1) {margin-top: 0;}
.sub02 .section02 .content-wrap .signature-wrap {margin-top: 75px; display: flex; gap: 30px;}
.sub02 .section02 .content-wrap .signature-wrap p {font-size: 24px; font-weight: 600; letter-spacing: -0.03em; color: #323232;}

.sub03 .section02 {text-align: center;}
.sub03 .section03 {margin-top: 280px; text-align: center;}
.sub03 .mission-wrap {margin-top: 100px; display: flex; justify-content: center;}
.sub03 .mission-wrap .detail {display: flex; align-items: center; height: 100vh;}
.sub03 .mission-wrap .mission-left {width: 55%;}
.sub03 .mission-wrap .mission-head {width: 50%; font-size: 42px; font-weight: 700; letter-spacing: -0.03em; color: #323232;}
.sub03 .mission-wrap .desc-text {font-size: 20px; font-weight: 600; line-height: 46px; letter-spacing: -0.03em; color: #4B4B4B;}
.sub03 .mission-right {display: flex; align-items: center; height: 100vh;}
.sub03 .photos {position: relative; width: 365px; height: 421px; border-radius: 20px; overflow: hidden;}
.sub03 .photos img {position: absolute; top: 0; left: 0; width: 100%;}

.sub04 .section02 {padding: 80px 0 200px; display: flex; flex-direction: column; align-items: center;}
.sub04 .section02 .menu-wrap {padding: 15px; margin: 0 auto; display: flex; text-align: center; gap: 20px; border-radius: 10px; border: 1px solid #E3E3E3;}
.sub04 .section02 .menu-wrap .menu-btn {padding: 15px; font-size: 20px; font-weight: 600; letter-spacing: -0.03em; border-radius: 10px; color: #303030;}
.sub04 .section02 .menu-wrap .menu-btn.on {background-color: #323232; color: #fff;}
.sub04 .content-wrap {padding: 137px 16% 0;}
.sub04 .content-wrap .content-01 {position: relative; width: 100%;}
.sub04 .content-wrap img {width: 100%;}
.sub04 .content-wrap .marker {position: absolute; width: 60px; height: 60px; text-align: center; font-size: 24px; line-height: 60px; font-weight: 700; letter-spacing: -0.03em; border-radius: 50%; background-color: #424242; color: #fff;}
.sub04 .content-wrap .marker1 {top: 27%; left: 9%;}
.sub04 .content-wrap .marker2 {top: 39%; left: 20%;}
.sub04 .content-wrap .marker3 {top: 70%; left: 25%;}
.sub04 .content-wrap .marker4 {width: 80px; height: 80px; line-height: 80px; top: 31%; left: 80%;}
.sub04 .content-wrap .marker5 {top: 43%; left: 72%; background-color: #329BFA;}
.sub04 .content-wrap .marker6 {top: 61%; left: 75%;}
.sub04 .content-wrap .marker7 {width: 70px; height: 70px; line-height: 70px; top: 73%; left: 83%;}

.sub08 .heading-1 {margin-top: 70px; text-align: center;}
.sub08 .section02 .form-wrap {margin: 70px auto 0; width: 760px; padding: 40px 50px;}
.sub08 .section02 .form-wrap .form-group-wrap {display: flex; justify-content: space-between; gap: 24px;}
.sub08 .section02 .form-wrap .form-group {flex: 1; margin-top: 30px;}
.sub08 .section02 .form-wrap .form-group .bul-must {color: #FF3737;}
.sub08 .section02 .form-wrap .form-group .form-label label {font-size: 18px; font-weight: 700;}
.sub08 .section02 .form-wrap .form-group input {width: 100%; height: 40px; border-bottom: 1px solid #C8C8C8; border-radius: 0; font-size: 16px;}
.sub08 .section02 .form-wrap .form-group .form-detail {height: 120px;}
.sub08 .section02 .form-wrap .form-group textarea {width: 100%; margin-top: 15px; background-color: #ffffff00; border: none; font-size: 16px;}
.sub08 .section02 .form-wrap .form-group textarea {border-bottom: 1px solid #C8C8C8;}
.sub08 .section02 .form-wrap .privacy-wrap {margin-top: 30px;}
.sub08 .section02 .form-wrap .icheckbox {width: 20px; height: 20px; border-radius: 5px; border: 1px solid #000; background-color: none;}
.sub08 .section02 .form-wrap .chk-box {position: relative; display: block; font-size: 16px; font-weight: 500; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.sub08 .section02 .form-wrap .on {display: inline-block; vertical-align: middle; margin-right: 10px; width: 20px; height: 20px; border-radius: 5px; border: 1px solid #DFE1E6;}
.sub08 .section02 .form-wrap .chk-box input[type="checkbox"] {display: none;}

.sub08 .section02 .select-label {display: flex; flex-direction: column; gap: 10px; margin-top: 0; border-bottom: 1px solid #C8C8C8;}
.sub08 .section02 .select-label > label {font-size: 18px; font-weight: 700;}
.sub08 .section02 .select-label > select {padding: 8px 10px; font-size: 14px; font-weight: 400; border: 1px solid #fff; color: #323232; -webkit-appearance: none; -moz-appearance: none; background:#fff url(../images/sub/infrabusiness_05_arr_gr.png)no-repeat 95% 50% / 8%;}
.sub08 .section02 .select-label #question {background:#fff url(../images/sub/infrabusiness_05_arr_gr.png)no-repeat 98% 50% / 4%;}
.sub08 .section02 .select-label > select::-ms-expand {display: none;}
.sub08 .section02 .form-wrap .chk-box input[type="checkbox"]:checked + .on { background: #fff; }
.sub08 .section02 .form-wrap .on:after { content: ""; position: absolute; display: none; }
.sub08 .section02 .form-wrap .chk-box input[type="checkbox"]:checked + .on:after { display: block; }
.sub08 .section02 .form-wrap .on:after { width: 6px; height: 10px; border: solid #000; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; left: 6px; top: 5px; }
.sub08 .section02 .form-wrap .btn-toggle {font-size: 16px; font-weight: 700; display: flex; gap: 5px; border-bottom: 1px solid #323232;}
.sub08 .section02 .form-wrap .submit-btn {margin-top: 30px; padding: 14px 50px; border-radius: 999px; border: 1px solid #323232; font-size: 18px; font-weight: 700; color: #323232; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.sub08 .section02 .form-wrap .submit-btn:hover {background-color: #6f97e8; border: 1px solid #fff; color: #fff;}
.sub08 .section02 .view-fulltext {width: 100%; margin-top: 30px; padding: 20px; font-size: 15px; font-weight: 400; line-height: 20px; border-radius: 10px; background-color: #F7F7F7;}
.sub08 .section02 .view-fulltext p {word-break: break-all;}
.sub08 .section02 .view-fulltext p .em {font-weight: 600;}

.sub08 .section03 {margin: 182px 30px 18px; padding: 83px 13.2%; max-width: 1860px; border-radius: 20px; background-color: #F8F8F8;}
.sub08 .section03 .heading-1 {margin-top: 0;}
.sub08 .section03 .contact-wrap {margin-top: 88px; display: flex; justify-content: space-around;}
.sub08 .section03 .contact-wrap .contact {flex: 1; display: flex; justify-content: center;}
.sub08 .section03 .contact-wrap .contact-title {font-size: 24px; font-weight: 700; letter-spacing: -0.03em; color: #323232;}
.sub08 .section03 .contact-wrap .contact-detail {margin-top: 30px; font-size: 20px; font-weight: 600; letter-spacing: -0.03em; color: #323232;}
.sub08 .section03 .contact-wrap .contact-detail span {color: #969696;}