@charset "utf-8";

.infrasub {padding-top: 130px}
.infrasub .infra-menu {margin-bottom: 130px; display: flex; justify-content: center; gap: 80px; font-size: 20px; font-weight: 600; letter-spacing: -0.03em; color: #AAAAAA;}
.infrasub .infra-menu .active {color: #393939;}
.infrasub .title-sub {text-align: center; font-size: 36px; font-weight: 700; letter-spacing: -0.03em; text-transform: uppercase; color: #D6D6D6;}
.infrasub .main-title {margin-top: 26px; font-family: 'Paybooc'; font-size: 80px; font-weight: 800; text-align: center; letter-spacing: -0.01em;}
.infrasub .main-img {display: flex; justify-content: center; margin-top: 155px;}

.infrasub .section02 {margin-top: -160px; padding: 382px 0 140px; text-align: center; background-color: #F7FAFF;}
.infrasub .heading-1 {font-size: 46px; font-weight: 800; letter-spacing: -0.03em; color: #323232;}
.infrasub .heading-2 {font-size: 42px; font-weight: 800; line-height: 54px; letter-spacing: -0.03em; color: #323232;}
.infrasub .main-desc-title {margin-top: 40px; font-size: 30px; font-weight: 800; letter-spacing: -0.03em; color: #323232;}
.infrasub .main-desc {margin-top: 30px; font-size: 20px; font-weight: 400; line-height: 32px; letter-spacing: -0.03em; color: #4B4B4B;}

.infrasub .subinner {max-width: 1280px; margin: 0 auto;}
.infrasub .section03 {padding: 120px 0;}
.infrasub .keyword-content {display: flex; justify-content: space-between;}
.infrasub .icon-desc-wrap {display: grid; grid-template-columns: 1fr 1fr; grid-row: auto; width: 80.5%; column-gap: 40px; row-gap: 80px;}
.infrasub .icon-desc {padding-top: 55px; border-top: 1px solid #E8E8E8;}

.infrasub .con-title {font-size: 30px; font-weight: 800; letter-spacing: -0.03em; color: #323232;}
.infrasub .keyword {margin-top: 30px; font-size: 24px; font-weight: 600;}
.infrasub .keyword-desc {margin-top: 30px; font-size: 18px; font-weight: 400; line-height: 30px; letter-spacing: -0.03em;}

.infrasub .section04 {padding: 160px 0 140px; text-align: center; background-color: #F7FAFF;}
.infrasub .section05 {padding: 120px 0;}
.infrasub .section06 {padding: 140px 0; text-align: center; background-color: #F7FAFF;}
.infrasub .section07 {padding: 120px 0 180px;}



.cloud .section02 .img-wrap {margin: 40px auto 0; display: flex; justify-content: center; align-items: center; width: 45.5%; gap: 100px;}
.cloud .section04 .img-wrap {position: relative; margin-top: 60px; text-align: center;}
.cloud .section04 .img-wrap img {object-fit: contain;}
.cloud .section04 .img-wrap::after {content: ''; display: block; position: absolute; top: 0; left: 62%; width: 229px; height: 193px; background: url(../../resources/images/sub-infra/cloud_04_img02.png)no-repeat; background-size: cover;}
.cloud .section04 .main-desc-title {margin-top: 80px;}
.cloud .section04 .main-desc-title:nth-child(2) {margin-top: 73px;}
.cloud .section06 .img-wrap img {mix-blend-mode: darken; margin-top: 60px;}
.cloud .section06 .main-desc-title {margin-top: 80px;}

.backup .main-img {margin-top: 135px;}
.backup .section02 {padding-top: 320px;}
.backup .section02 .img-wrap {margin-top: 60px;}
.backup .main-desc-title {margin-top: 80px;}
.backup .keyword span {font-size: 20px;}
.backup .section04 .img-wrap {margin-top: 80px;}
.backup .section06 {padding:254px 0 312px; background:url(../../resources/images/sub-infra/backup_06_bg01.png)no-repeat,url(../../resources/images/sub-infra/backup_06_bg02.png)no-repeat,#F7FAFF ; background-position: 22% 19%, 82% 82%;}
.backup .section06 .img-wrap {margin-top: 100px; display: flex; justify-content: center; gap: 30px;}
.backup .section06 .img-wrap div {display: flex; justify-content: center; align-items: center; width: 306px; height: 115px; border-radius: 10px; background-color: #fff; box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);}

.hardware .section02 {margin-top: 118px; padding: 123px 0 343px;}
.hardware .section02 .hardware-menu {margin-top: 80px; display: flex; justify-content: center; gap: 70px; font-size: 20px; font-weight: 700; color: #AAAAAA;;}
.hardware .section02 .hardware-menu a.on {color: #1E66D2;}
.hardware .section02 .product-wrap {display: flex; justify-content: space-between;}
.hardware .section02 .product-wrap .img-wrap {margin-top: 100px; padding: 25px 35px; display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr 9fr; width: 350px; height: 350px; border-radius: 20px; background-color: #fff; box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);}
.hardware .section02 .product-wrap .img-wrap img:nth-child(2) {align-self: center; justify-self: center;}
.hardware .section02 .product-wrap .product-label {margin-top: 35px; font-size: 24px; font-weight: 500; line-height: 34px; letter-spacing: -0.03em; text-align: center; color: #282828;}

.hardware .section03 {padding-bottom: 175px;}
.hardware .section03 .con-title {text-align: center;}
.hardware .section03 .logo-wrap {margin-top: 100px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px;}
.hardware .section03 .logo-wrap div {width: 100%; display: flex; justify-content: center; align-self: center;}