@charset "utf-8";
body { font-family: "Pretendard"; font-style: normal; font-size: 16px; overflow-x: hidden; position: relative; color: #323232; word-break: break-all;} 
body.noScroll { overflow: hidden;}

#wrap { width: 100%; overflow: hidden; position: relative;}
#header { position: absolute; top: 0; left: 0; width: 100%; height: 70px; z-index: 999; box-sizing: border-box;}
/* #header.up { transform: translateY(-100%);}
#header.down { transform: translateY(0);} */
#header .logo-wrap { min-width: 200px;}
#header h1 { background: url(../../images/common/sorin_logo_w.png) no-repeat center; width: 112px; height: 50px;}
#header h1 span { display: none;}
#header .header-wrap { display: flex; width: 100%; justify-content: space-between; padding: 10px 10.42%; align-items: center;}
#header .gnb-wrap .gnb {display: flex; justify-content: space-between; gap: 70px;}
#header .gnb-wrap .gnb > li .depth1 { display: block; font-size: 18px; font-weight: 700; color: #C8C8C8; position: relative;}


.inner {max-width: 1920px; padding: 0 10.41%; width: 100%; margin: 0 auto; position: relative;}
/* .inner { width: 100%; margin: 0 auto; position: relative;} */